.wrapper {
    display: flex;

}

.infoWrap {
    padding: 10px;
}

.backButton {
    margin: 10px 0 10px 10px;
    padding: 5px 10px 5px 10px;
    background-color: rgb(99, 99, 151);
    display: inline-block;
    color: #fff;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    
}

.backButton:hover {
    background-color: rgb(167, 167, 224);
    color: black;
}

.links {
    display: inline-block;
   

}

.link {
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif
}